@import './SystemAdministration.css';

.sidebar-subtitle {
  color: var(--text-gray);
  margin-top: -20px;
  margin-bottom: 25px;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
